* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'PT Sans', sans-serif;
}

.header-wrap {
    width: 100%;
}

.header {
    background: #dcdcdc;
    height: 170px;
    width: 980px;
    padding: 0 10px;
    margin: auto;
}

.logo {
    width: 70px;
    height: 70px;
    background: #777;
    margin-top: 40px
}

.named {
    font-weight: 900;
    font-size: 18px;
    padding-left: 2px;
    color: #777;
}

.little {
    font-weight: 400;
    font-size: 13px;
    color: #777;
    padding-left: 2px;
    width: 300px;
}

.logs {
    margin-top: 40px;
}

.cont {
    padding-top: 40px;
    color: #777;
    font-size: 24px;
    font-weight: 300;
}

.men {
    background-color: #777;
    height: 45px;
    font-size: 20px;
}

.menu {
    width: 980px;
    margin: auto;
}

.links {
    padding: 5px 200 px;
}

.links a {
    text-decoration: None;
    color: whitesmoke;
}

.links a:hover {
    text-decoration: underline;
    color: whitesmoke;
}

.slider-wrap {
    width: 100%;
}

.slider {
    width: 980px;
    margin: auto;
}

.content-main {
    width: 980px;
    margin: auto;
    background-color: #ffff;
    margin-bottom: 125px;
}

.mane {
    background-color: red;
}

.news {
    background-color: #777;
    padding: 10px;
    height: 400px;
    margin-left:100px;
    margin-top: 25px;
}

.test {
    background-color: white;
    margin: 25px 0 0 60px;
    width: 500px;
    padding: 10px;
    color: #777;
}

.m-f{
    width: 100%;
}
.f-r{
    width: 980px;
    height: 150px;
    background-color: #777;
    margin: auto;
}
.ff{
height: 100%;
padding-top: 30px;
font-size: 12px;}
.tit{
    color: whitesmoke;

    padding: 0px 0 0 150px;
}
.linksus a {
    text-decoration: underline;
    color: whitesmoke;
}
.linksus a:hover {
    text-decoration: underline;
    color: whitesmoke;

